html {
	height: 100%;
}

body {
	font-family: Rockwell;
	height: 1005;
	background-repeat: no-repeat;
	background-size: 100%;
}
	
#topBar {
	width: 100%;
	height: 14%;
	background-color: #FFFFFF;
	opacity: 0.9;
	float: top;
	position: absolute;
	top: 0;
}

#title {
	font-weight: 50000;
	font-size: 50px;
	padding-top: 8px;
	background: url("https://cdn.shutterstock.com/shutterstock/videos/10578566/thumb/1.jpg");
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}
	
h3 {
	font-family: Franklin Gothic Medium;
}
	
ul {
	list-style-type: none;
}

#menu ul {
	display: inline;
}	

a:link{
	text-decoration: none;
	color: inherit;
}

.menuButton {
	padding: 15px;
	width: auto;
	height: 100%;
	transition: 1s;
	float: right;
	position: relative;
	top: -130px;
	right: 40px;
	opacity: 1;
	color: #ADEB92;
	text-align: center;
	font-size: 30px;
}

.menuButton:hover {
	background-color: #ADEB92;
}

.menuButton p {
	background: url("https://cdn.shutterstock.com/shutterstock/videos/10578566/thumb/1.jpg");
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}

.sub-menu { 
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 215%;
  left: 0;
  width: 100%;
  transform: translateY(-2em);
  z-index: -1;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
  font-size: 20px;
  text-decoration: none;
}

.menuButton:hover .sub-menu {
  visibility: visible; /* shows sub-menu */
  opacity: 1;
  z-index: 1;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s; /* this removes the transition delay so the menu will be visible while the other styles transition */
}

.sub-menu a:hover{
	background: url("https://cdn.shutterstock.com/shutterstock/videos/10578566/thumb/1.jpg");
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}

.circle{
  	background-color: white;
	border-radius: 295px;
	opacity: 0.9;
	height: 295px;
	width: 295px;
	margin-top: 200px;
	margin-right: 50px;
	margin-left: 50px;
	position: relative;
	font-family:  Franklin Gothic Medium;
}

ul #circleMenu {
	display: inline;
	margin: 30px;
}

.circle:hover{
	background-color: #ADEB92;
	transition: 1s;
}

h2 {
	padding-top: 75px;
	padding-left: 25px;
	padding-right: 25px;
	float: center;
	vertical-align: middle;
	text-align: center;
	font-size:30px;
	font-weight: 2px;
	background: url("https://cdn.shutterstock.com/shutterstock/videos/10578566/thumb/1.jpg");
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}

.infoBarHome {
	background-color: #FFFFFF;
	opacity: 0.9;
	font-size: 25px;
	width: 100%;
	height: auto;
	position: absolute;
	bottom: 0;
	padding: 15px;
}

.infoBar {
	background-color: #FFFFFF;
	opacity: 0.9;
	font-size: 25px;
	width: 100%;
	height: 750px;
	position: absolute;
	bottom: 0;
	padding: 15px;
}
